/* ===========================================
Style
==============================================*/
*   {
    font: normal 1em Merriweather, sans-serif;
    line-height: 1.5;
}

header  {
    text-align: center;
}

h1  {
    background-color: #2d3945;
    margin: 0;
    padding: 30px 0;
    color: white;
    font-weight: bold;
}

h2  {
    color: #2d3945;
    font-size: 1.7em;
    font-weight: bold;
}

p   {
    font-size: 1.2rem;
    color: #9e9e9e;
    margin: 0 0 20px 0;
}

.headline   {
    position: relative;
    margin: 0 20px;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #000000;
}

.headline::after {
    content: " ";
    position: absolute;
    bottom: 4px;
    left: 0;
    width: 100%;
    border: 3px solid #2d3945;
}

legend    {
    color: #2d3945;
    font-size: 1.7em;
    font-weight: bold;
    padding: 20px 0;
    text-align: left;
}

.contact,
.newsletter    {
    border: hidden;
    margin: 0 auto;
    width: 100%;
}

label {
    color: #8f9dac;
    font-size: 1.2em;
    margin: 0 0 0 10px;
}

input[type=text],
input[type=email],
input[type=tel] {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 20px 0;
    background-color: #EFF0F1;
    border: 0 none #000000;
    border-radius: 5px;
    font-size: 1.2rem;
}

textarea    {
    display: block;
    width: 100%;
    padding: 12px 0;
    margin: 10px 0;
    height: 40px;
    background-color: #EFF0F1;
    border: 0 none #000000;
    border-radius: 5px;
    font-size: 1.2rem; 
}

select  {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 20px 0;
    background-color: #EFF0F1;
    border: 0 none #000000;
    border-radius: 5px;
    font-size: 1.2rem; 
}

input[id=zip]   {
    display: block;
    width: 50%;
    margin: 10px 0;
    padding: 20px 0;
    background-color: #EFF0F1;
    border: 0 none #000000;
    border-radius: 5px;
    font-size: 1.2rem;
}

input::placeholder {
    text-align: right;
    font-style: italic;
    padding-right: 30px;
    color: #adb2b7;
}

input:focus,
textarea:focus,
select:focus {
  border: 1px solid #46698b;
  background-color: #e0eaf4;
  transition: background-color 0.5s ease-in-out;
}

.contact    {
    padding: 0 0 30px 0;
    border-bottom: 3px solid #000000;
}

.newsletter-container   {
    margin: 0 0 10px 0;
}

.newsletter-checkbox,
.newsletter-radio   {
  margin: 0 0 20px;
}

label[for=text-area]    {
    margin: 0;
}

.newsletter-container {
    margin-bottom: 20px;
}

button  {
    background-color: #4ebbb5;
    border-radius: 5px;
    color: white;
    text-align: center;
    width: calc(100% - 40px);
    margin: 0 20px 20px;
    padding: 30px 0;
    font-size: 1.4rem;
    font-weight: bold;
}

footer p    {
    text-align: center;
    margin: 20px 0;
}


/*=========================================
media queries
==========================================*/

@media (min-width: 768px) {
    main,
    .headline   {
        width: 500px;
        margin: 0 auto;
    }

    .contact,
    .newsletter {
      margin: 0;
    }
  
    button {
      margin: 0 0 20px;
      width: 100%;
    }
  
    .contact-info {
      display: flex;
      align-items: center;
    }
  
    .contact-info input,
    .contact-info select {
      width: auto;
      flex-grow: 1;
    }
  
    .contact-info label {
      flex-basis: 25%;
    }
  
    .contact-info:last-child input {
      margin-right: 20%;
    }
  }